header img {
  animation: fromLeft .7s .3s backwards;
}

.input-container,
.image-container .info,
.output-container,
.input-container button:nth-child(1) {
  animation: fromTop .7s .4s backwards;
}

.image-container img {
  animation: fromLeft .7s .5s backwards;
}

.output-container button,
.input-container button:nth-child(2) {
  animation: fromTop .7s .5s backwards;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 1;
    transform: translateX(60px);
  }

  to {
    transform: translateX(0);
  }
}