* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f5fc;
}

body * {
  font-family: 'Inter', sans-serif;
}

header {
  padding-top: 30px;
  padding-left: 60px;
}

main {
  margin: 35px auto;
  width: 90%;
  display: flex;
}

textarea {
  border: none;
  resize: none;
  padding: 10px;
  font-size: 24px;
}

button {
  width: 100%;
  font-size: 16px;
  padding: 24px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}
