@media only screen and (max-width: 1268px) {

  .input-container,
  .output-container,
  .image-container {
    width: 500px;
  }
}

@media only screen and (max-width: 1148px) {

  .input-container,
  .output-container,
  .image-container {
    width: 460px;
  }
}

@media only screen and (max-width: 1068px) {
  main {
    flex-direction: column;
    gap: 20px;
  }

  header {
    padding-left: 40px;
  }

  .input-container,
  .output-container,
  .image-container {
    width: 600px;
  }

  .image-container img {
    width: 48%;
  }

  .buttons {
    max-width: 100%;
  }
}

@media only screen and (max-width: 668px) {

  .input-container,
  .output-container,
  .image-container {
    width: 500px;
  }
}

@media only screen and (max-width: 578px) {

  .input-container,
  .output-container,
  .image-container,
  .alert {
    width: 430px;
  }
}

@media only screen and (max-width: 478px) {
  header {
    padding-left: 20px;
  }

  header img {
    width: 42px;
  }

  .input-container,
  .output-container,
  .image-container,
  .alert {
    width: 380px;
  }

  .alert,
  .buttons button {
    font-size: 14px;
  }

  textarea,
  .image-container .info:nth-child(2) {
    font-size: 22px;
  }

  .image-container img {
    width: 55%;
  }
}

@media only screen and (max-width: 398px) {

  .input-container,
  .output-container,
  .image-container,
  .alert {
    width: 330px;
  }

  .input-container .buttons {
    flex-direction: column;
  }

  .image-container img {
    width: 60%;
  }
}

@media only screen and (max-width: 328px) {

  .input-container,
  .output-container,
  .image-container,
  .alert {
    width: 290px;
  }

  .image-container img {
    width: 65%;
  }
}