/* Default Classes CSS */
.alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  padding: 12px;
  border-radius: 6px;
  margin: 40px auto 0 auto;
  background-color: #6ba1f1;
  border-bottom: 3px solid #5078b4;
  text-align: center;
  letter-spacing: .5px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info {
  color: #495057;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  max-width: 550px;
  display: flex;
  gap: 10px;
  margin: 8px 0;
}

.input-container,
.output-container,
.image-container {
  width: 550px;
  margin: 0 auto;
}

/* || INPUT */
.input-container textarea {
  background-color: #f3f5fc;
  color: #0a3871;
}

.input-container textarea::placeholder {
  color: #0a3871;
}

.input-container button:nth-child(1) {
  background-color: #0a3871;
  box-shadow: 0 5px #356ea9;
  transition: transform .2s;
}

.input-container button:nth-child(1):active {
  transform: translateY(5px);
  box-shadow: 0 3px #356ea9;
}

.input-container button:nth-child(2) {
  background-color: #356ea9;
  box-shadow: 0 5px #0a3871;
  transition: transform .2s;
}

.input-container button:nth-child(2):active {
  transform: translateY(5px);
  box-shadow: 0 3px #0a3871;
}

/* || OUTPUT */
.output-container {
  display: none;
}

.output-container {
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.output-container textarea {
  color: #495057;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.output-container .buttons {
  margin-top: calc(24px + 16px);
  justify-content: center;
}

.output-container button {
  max-width: 50%;
  color: #0a3871;
  background-color: white;
  border: 1px solid #0a3871;
  transition: background .3s;
}

.output-container button:hover {
  background-color: #0a3871;
  color: white;
}

/* || PICTURE */
.image-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 14px 10px;
  gap: 24px;
}

.image-container img {
  width: 55%;
  margin: 0 auto;
}

.image-container .info {
  justify-content: center;
  text-align: center;
}

.image-container .info:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
}