@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/*font-family: 'Righteous', cursive;*/


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');
/*font-family: 'Jost', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 198;
    --body-color:hsl(var(--hue), 72%, 35%);
    --title-color:hsl(var(--hue), 83%, 14%);
    --title-color-second:
    hsl(var(--hue), 75%, 66%); 
    --text-color:hsl(var(--hue), 89%, 64%);
    --text-color-light: hsl(0 0% 98%);
    --text-color-secnd: hsla(0, 0%, 100%, 0.911);

}

body {
    background-color: hsla(var(--hue), 72%, 35%, 0.856);
    font-size: 1em;
    font-family: 'Jost', 'sans-serif';
    font-weight: 300;
    color: var(--text-color-light);
}

header {
    background: var(--text-color-secnd);
    border-bottom: 1px solid #66666663;
    margin-bottom: 1.8rem;
    display: flex;
}

nav {
    padding: 0.3rem 0.9rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Righteous', 'cursive';
    color: var(--title-color);
}

.logo span {
    color: var(--title-color-second)
}

#section {
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.411);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 11px hsla(0, 0%, 0%, 0.233);
    margin: 0 auto;
    padding: 1.3rem 0;
    width: 35%;
    margin-bottom: 3rem;
}

#title {
    color: var(--title-color-second);
    text-align: center;
    font-size: 1.7em;
}

.paragraph {
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-color);
}

.textarea {
    padding: 0.2rem 0.2rem;
    height: 8.2rem;
    width: 64%;
    font-size: 1em;
    font-family: 'Jost', 'sans-serif';
    font-weight: 300;
    border: 2px solid var(--text-color);
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.button {
    background-color: hsl(var(--hue), 55%, 35%);
    margin: 0.5rem 6rem;
    box-shadow: 0 0.25rem hsl(var(--hue), 92%, 20%);  
    outline:none;
    user-select: none;
    cursor: pointer; 
    padding: 0.1rem 0;
    border-radius: 0.2rem;
}

.button:active {
    transform: translateY(0.125rem);
    box-shadow: 0 00.125rem hsl(var(--hue), 92%, 20%);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color-secnd);
    color:hsla(0, 0%, 0%, 0.979);
    font-size: 1em;
    font-weight: 400;
    padding: 0.2rem;
}

footer .icon-git {
    display: flex;
    padding: 0.2rem 1rem;
}